//colors
$azure-radiance: #00a2ff;
$light-sky-blue: #87CEFAFF;
$deep-sea-green: #08516c;
$white: #ffffff;
$alto: #dedede;
$gray: #c7c5c5;
$california: #f69f06;
$mine-shaft: #5e5d5d;

//fonts
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

//border
$gray-border: 1px solid $gray;

