.footer {
  margin-top: 20px;

  #hide{
    display: none !important;
  }
  .sony-image {
    @include size(20%, auto);
  }

  .footer-navigation-bar {
    background-color: $azure-radiance;

    .r-border {
      border-right: 1px solid $gray;
    }

    .footer-nav-menu {
      @include size(20%, auto);
      border-left: 1px solid $gray;
      @include padding(20px);

      p {
        font-size: $font-size-16;
      }

      .information {
        a {
          font-size: $font-size-12;
          text-decoration: none;
          color: $alto;
        }

        li {
          margin: 0.3em 0;
        }
      }
    }

    .border-right {
      border-right: 1px solid $gray;
    }
  }

  .footer-copyright {
    background-color: $deep-sea-green;
    padding: 10px;

    span {
      font-size: $font-size-12;
    }

  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 4px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $azure-radiance;
    color: $white;
    cursor: pointer;
    border-radius: 4px;

    .angle {
      font-size: 30px;
    }

    #myBtn:hover {
      background-color: #555;
    }
  }
}

@media (max-width: 576px) {
  .brand-images {
    @include padding(0);
  }
  .footer-navigation-bar {
    .footer-navigation-container {
      flex-direction: column;
      justify-content: center;

      .footer-nav-menu {
        border-left: none;
        width: 100%;
        align-self: center;
        @include padding(10px);

        p {
          margin-bottom: 0;
        }
      }

      .r-border {
        border-right: none;
      }
    }
  }
}



